<mat-card>
  <mat-card-title>
    <mat-icon class="material-icons" (click)="vote()">thumb_up_alt</mat-icon>
    <mat-icon class="material-icons" (click)="unvote()">thumb_down_alt</mat-icon>
    <a routerLink="/contribution/{{contribution.id}}">
      <span> {{contribution.title}} </span>
    </a>
  </mat-card-title>
  <mat-card-content>
    <a href="{{contribution.url}}"> {{contribution.url}} </a>
    <br>
    <span> {{contribution.text}} </span>
    <span> {{contribution.n_votes}} votes </span>
    by
    <a routerLink="/user/{{contribution.user}}">
      <span> {{contribution.user}} </span>
    </a>    |
    <span> {{contribution.time}} </span>
    |
    <a routerLink="/contribution/{{contribution.id}}"> {{contribution.n_comments}} comments </a>
  </mat-card-content>
</mat-card>
