<mat-card>
  <mat-card-title>
    <span class="contribution">
      <div *ngIf="!isMine()" class="icons">
        <mat-icon *ngIf="showVote" class="material-icons" style="color: #888" (click)="vote()">thumb_up_alt</mat-icon>
        <mat-icon *ngIf="!showVote" class="material-icons" style="color: white; background-color: #607D8B;"
                  (click)="unvote()">thumb_up_alt
        </mat-icon>
      </div>
      <a routerLink="/contribution/{{contribution.id}}">
        {{contribution.title}}
      </a>
    </span>
    <div *ngIf="!contribution.text">
      <a target="_blank" class="url-link" href="{{contribution.url}}">
        <mat-icon class="link-icon"> link</mat-icon>
      </a>
    </div>
    <button *ngIf="isMine() && showDelete" mat-icon-button (click)="deleteContribution()"><mat-icon>delete</mat-icon></button>
  </mat-card-title>
  <mat-card-subtitle>
    <br>
    <div class="content">
      <span> {{contribution.n_votes}} votes </span>
      by
      <a routerLink="/user/{{contribution.user}}">
        <span> {{contribution.user}} </span>
      </a> |
      <span> {{contribution.time | timeAgo }} </span>
      |
      <a routerLink="/contribution/{{contribution.id}}"> {{contribution.n_comments}} comments </a>
    </div>
  </mat-card-subtitle>
</mat-card>
