<mat-card>
  <mat-card-title>
    <i class="material-icons">thumb_up_alt</i>
    <a routerLink="/contribution/{{contribution.id}}">
      <span> {{contribution.title}} </span>
    </a>
  </mat-card-title>
  <mat-card-content>
    <a href="{{contribution.url}}"> {{contribution.url}} </a>
    <br>
    <span> {{contribution.text}} </span>
    <span> {{contribution.n_votes}} votes </span>
    by
    <span> {{contribution.user}} </span>
    |
    <span> {{contribution.time}} </span>
    |
    <span> {{contribution.n_comments}} comments </span>
  </mat-card-content>
</mat-card>
