<app-contribution *ngIf="contribution" [contribution]="contribution" [showDelete]="true"></app-contribution>
<mat-card *ngIf="contribution && contribution.text">
  <mat-card-content>
    <span>{{contribution.text}} </span>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="user">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Comment" [(ngModel)]="comment.text"> </textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="newComment()" [disabled]="!comment.text">Comment</button>
</mat-card>
<app-comment *ngIf="contribution" [comments]="contribution.comments" [showOn]="false"></app-comment>
