<div fxLayout="column">
  <div fxLayout="row">
    <mat-card *ngIf="user" class="example-card" [fxFlex.gt-xs]="80" [fxFlexOffset.gt-xs]="10" [fxFlex.lt-sm]="80"
              [fxFlexOffset.lt-sm]="10">
      <mat-card-title>{{user.email}}</mat-card-title>
      <mat-form-field class="example-full-width">
        <textarea matInput name="about" [(ngModel)]="user.about"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="updateUser()">Update</button>
      <button mat-raised-button color="accent" routerLink="/threads/{{user.email}}">Comments</button>


    </mat-card>
  </div>
</div>
