<div fxLayout="column">
  <div fxLayout="row">
    <mat-card [fxFlex.gt-xs]="80" [fxFlexOffset.gt-xs]="10" [fxFlex.lt-sm]="80"
              [fxFlexOffset.lt-sm]="10">
      <form class="submit-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" [(ngModel)]="contribution.title" name="title">
        </mat-form-field>

        <mat-radio-group name="kind" [(ngModel)]="ask">
          <mat-radio-button [value]="false">New</mat-radio-button>
          <mat-radio-button [value]="true">Ask</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="example-full-width" *ngIf="!ask">
          <input matInput placeholder="URL" [(ngModel)]="contribution.url" name="url">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="ask">
          <textarea matInput placeholder="Text" [(ngModel)]="contribution.text" name="text"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </form>
    </mat-card>
  </div>
</div>
