<div fxLayout="column">
  <div fxLayout="row">
    <mat-card [fxFlex.gt-xs]="80" [fxFlexOffset.gt-xs]="10" [fxFlex.lt-sm]="80"
              [fxFlexOffset.lt-sm]="10">
      <form class="submit-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" [(ngModel)]="contribution.title" name="title">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="URL" [(ngModel)]="contribution.url" name="url">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment" [(ngModel)]="contribution.text" name="text"></textarea>
        </mat-form-field>
        <button (click)="submit()">Submit</button>
      </form>
    </mat-card>
  </div>
</div>
