<mat-card *ngFor="let comment of comments">
  <p>{{comment.text}}</p>
  <mat-card-subtitle>by <a routerLink="/user/{{comment.username}}">{{comment.username}}</a> {{comment.time | timeAgo}}
    <span *ngIf="showOn">on <a
      href="/contribution/{{comment.contribution_id}}">{{comment.contribution_title}}</a></span></mat-card-subtitle>
  <mat-card-subtitle>
    <a routerLink="/reply/{{comment.id}}">{{"reply"}}</a>
    <span *ngIf="!isMine(comment.id) && isNotVoted(comment.id)">
      |
      vote</span>
    <span *ngIf="isMine(comment.id)">
      |
      <a href="javascript:void(0)" (click)="deleteComment(comment.id)">delete</a>
    </span>
  </mat-card-subtitle>
  <app-comment [comments]="comment.children" [showOn]="showOn" *ngIf="comment.children"></app-comment>
</mat-card>
